<ul class="list-group list-group-flush mt-3">
  <li class="list-group-item">Información Personal</li>
  <li>NOMBRE <div>{{licenseData$.user.name}}</div>
  </li>
  <li>APELLIDO <div>{{licenseData$.user.surname}}</div>
  </li>
  <li>CUIL <div>{{licenseData$.user.cuil}}</div>
  </li>
  <li>DOCUMENTO <div>{{licenseData$.user.businessId}}</div>
  </li>
  <li>TELÉFONO <div>{{licenseData$.user.phone}}</div>
  </li>
  <li>CELULAR <div>{{licenseData$.user.cellphone}}</div>
  </li>
  <li>DIRECCIÓN <div>{{licenseData$.user.phone}}</div>
  </li>
  <li>CORREO ELECTRÓNICO <div>{{licenseData$.user.phone}}</div>
  </li>

  <li class="list-group-item mt-3">Antecedentes médicos</li>
  <li>ENFERMEDAD PSIQUIATICA {{''}}</li>

  <li class="list-group-item mt-3">Información del/la Médico/a Tratante</li>
  <li>CALLE{{''}}</li>
  <li>NUMERO {{''}}</li>
  <li>PISO{{''}}</li>
  <li>DEPARTAMENTO {{''}}</li>
  <li>PROVINCIA {{''}}</li>
  <li>LOCALIDAD {{''}}</li>
  <li>CÓDIGO POSTAL {{''}}</li>
  <li>OBSERVACIONES {{''}}</li>

  <li class="list-group-item mt-3">Domicilio de Reposo</li>
  <li>NOMBRE {{''}}</li>
  <li>APELLIDO {{''}}</li>
  <li>MATRÍCULA {{''}}</li>
  <li>ESPECIALIDAD {{''}}</li>

</ul>